<% layout('layout2') %>

<div id="wrapper">

    <% include partials/sidebar %>


    <div id="page-content-wrapper">
      
       <% include partials/navbar %>
       
        <div class="container-fluid main_body">
          
           <h1>Hello, <%= user.fullname %></h1>
           <p>What do you want to do?</p>
           
            <div class="row">
                <div class="col-sm-4" >
                    <!-- <div class="info-icon"><i class="fa fa-sign-in"></i></div> -->
                    <!-- <h3 class="text-center">Join the group</h3> -->
                    <!-- <p class="text-center">Add School profile. Registered students can give ratings and reviews.</p> -->

                    <a href="/school/create" class="btn btn-block btn-primary link_btn">Join the group</a>
                </div>

                <div class="col-sm-4">
                    <!-- <div class="info-icon"><i class="fa fa-search"></i></div> -->
                    <!-- <h3 class="text-center">Search</h3> -->
                    <!-- <p class="text-center">Search for School and find your best partner.</p> -->

                    <a href="/school/search" class="btn btn-block btn-primary link_btn">Search</a>
                </div>

                <div class="col-sm-4">
                    <!-- <div class="info-icon"><i class="fa fa-search"></i></div> -->
                    <!-- <h3 class="text-center">Search</h3> -->
                    <!-- <p class="text-center">Search for School and find your best partner.</p> -->

                    <!-- <a href="/school/search" class="btn btn-block btn-primary link_btn">Direct Chat </a> -->
                        

                </div>
<!-- 
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-star"></i></div>
                    <h3 class="text-center">Rate</h3>
                    <p class="text-center">Rate and review othes and get your review as well.</p>

                    <a href="/schools" class="btn btn-block btn-primary link_btn">Rate</a>
                </div> -->
            </div>
        </div>
    </div>

</div>


















































